{% extends 'sport_blog/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock%}
{% block content%}

<div class="content">

    <h1>О нас</h1>

    <div class="payload">
            <em class="index_text">"Статьи о спорте и здоровье, советы по выбору инвентаря, экипировки, польза различных видов спорта."</em>
    </div>
    <div>
        <img src="{% static 'assets/img/sport-1.svg' %}" width="500" height="600" alt="Sport">
        <img src="{% static 'assets/img/post-1.svg' %}" width="500" height="600" alt="Post">
    </div>
</div>

{% endblock%}
