{% extends 'sport_blog/base.html' %}
{% load static %}
{% block title %}Main page{% endblock%}
{% block content%}

<div class="index_content">
    <div class="payload">
        <h1>ГЛАВНАЯ</h1>
        <br>
        <div class="index_text_block">
            <em class="index_text"><b>Спорт.</b> Всего одно слово, а как много оно значит! Занятие спортом -
                определенный вид деятельности людей,
                направленная на достижение заданного результата в физическом развитии человека.
                Спорт - составная часть физической культуры, при которой основной упор делается на само физическое
                развитие
                человека, укрепление его здоровья и самочувствия.
                Профессиональный спорт - та его часть, в которой участвуют спортсмены, направленные именно на достижение
                определенного результата в своей физической деятельности, на достижение победы и новых спортивных
                рекордов.
                Спортивные состязания, среди которых Олимпиады, Чемпионаты и Турниры выявляют лучших спортсменов.
                Конечно,
                мечта каждого спортсмена - победа на Олимпийских играх, самых крупных мировых состязаниях, которые
                возникли
                еще в Древней Греции, а впоследствии собирали участников со всего мира.
            </em>
        </div>

    </div>
    <div>
        <img src="{% static 'assets/img/classic-sports.svg' %}" width="500" height="500" alt="Sport">
    </div>
</div>

{% endblock%}
