{% extends 'sport_blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content%}


<div class="content">
    <h2>Колличество постов: {{ cnt }}</h2>
    <h1>Посты</h1>
    <hr>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1{{ get_params }}">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2{{ get_params }}">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3{{ get_params }}">3</a></li>
        <li class="page-item"><a class="page-link" href="?page=4{{ get_params }}">4</a></li>
    </ul>
</nav>

    <form method="GET">
        {{ filter.form.as_p}}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search">Поиск</span>
        </button>
    </form>

    {% for post in post_list %}
    <div class="payload">
        <br>
        <h4>
            {{ forloop.counter }}) <a href="{% url 'post_show' post_id=post.id %}">{{ post.title }}</a>
        </h4>
        <p>{{ post.content }}</p>
    </div>
    <hr>
    {% endfor %}
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1{{ get_params }}">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2{{ get_params }}">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3{{ get_params }}">3</a></li>
        <li class="page-item"><a class="page-link" href="?page=4{{ get_params }}">4</a></li>
    </ul>
</nav>

<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1{{ get_params }}">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}{{ get_params }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}{{ get_params }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}{{ get_params }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->

{% endblock%}
