{% extends 'main/base.html' %}

{% block title %}Main page{% endblock%}
{% block content%}

<div class="content">

    <h1>ГЛАВНАЯ</h1>

    <div class="payload">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolor, dolorum eveniet facere impedit in incidunt ipsum labore laboriosam nam nesciunt nobis pariatur perspiciatis quas quidem quod, vero voluptas!
    </div>
</div>

{% endblock%}